body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #EEE;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    background-color: #EEE;

}
