.background {
    background-color: #252526;
}

body {
    background-color: rgb(37, 37, 38);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}

.neuerteil {
    font-size: 125%;
    font-weight: bold;
    color: rgb(0, 180, 15);
}

#game {
    color: white;
}

#eieruhr {
    color: white;
}

#rechner {
    color: white;
}

h1 {
    color: red;
    font-size: 200%;
}


a#YouTube {
    text-decoration: none;
}