.background {
    background-color: #252526;
}

body {
    background-color: rgb(37, 37, 38);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}

#details {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}