/* global stuff */

:root {
    --block-border-color: #666;
    --cell-border-color: #bbb;
    --main-color: teal;
    --main-color-light: rgba(0, 128, 128, 0.8);
    --fixed-color: rgb(245, 205, 205);
    --cell-size: min(45px, 8vw);
    --cell-font-size: calc((0.9) * var(--cell-size));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #222;
    background-color: rgb(37, 37, 38);
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* header */

header {
    padding: 50px 10px;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: var(--main-color);
    line-height: 0.9;
}

/* main */

main {
    padding: 0px 10px;
    text-align: center;
}

/* controls */

#controls {
    margin-bottom: 25px;
}

button {
    padding: 6px 12px;
    background: linear-gradient(
        var(--main-color),
        var(--main-color-light)
    );
    color: white;
    cursor: pointer;
    margin: 5px;
    transition: color 150ms linear;
}

button:disabled {
    color: #fff6;
}

button:hover,
button:focus {
    opacity: 0.8;
}

#solveBtn {
    width: 75px;
}

/* info */

#info {
    margin: 20px 0px;
    color: var(--main-color);
    user-select: none;
}

/* sudoku */

#sudoku {
    --spacing: 20px;
    --size: calc(var(--spacing) + 9 * var(--cell-size));
    margin: 0px auto;
    width: var(--size);
    height: var(--size);
    background: var(--block-border-color);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode",
        "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: var(--cell-font-size);
    font-weight: bold;
    transition: opacity 500ms linear;
}

/* solving sudoku */

#sudoku.solving {
    opacity: 0.6;
}

/* blocks */

.block {
    --spacing: 4px;
    --size: calc(var(--spacing) + 3 * var(--cell-size));
    width: var(--size);
    height: var(--size);
    background: var(--cell-border-color);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1px;
}

/* cells */

.cell {
    background: white;
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
}

.cell:disabled {
    user-select: none;
}

.cell:focus {
    background: var(--cell-border-color);
}

.cell.fixed {
    background: var(--fixed-color);
}