/*global stuff*/
:root {
    --main-color: teal;
    --main-light-color: rgb(55, 156, 156);
    --cell-size: min(45px, 8vw);
    --cell-font-size: calc((0.9) * var(--cell-size));
    --cell-border-color: #bbb;
    --block-border-color: #666;
    --fixed-color: rgb(245, 205, 205);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(37, 37, 38);
}

input, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* header */

header {
    padding: 50px 10px;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: var(--main-color);
    line-height: 0.9;
}

/*Main*/

main {
    padding: 0px 10px;
    text-align: center;
}

/* controls */

#controls {
    margin-bottom: 25px;
}

button {
    padding: 6px 12px;
    background: linear-gradient(
        var(--main-color), 
        var(--main-light-color));
    color: white;
    cursor: pointer;
    margin: 5px;
    transition: color 150ms linear;
}

button:disabled {
    color: #fff6;
}

button:hover, 
button:focus {
    opacity: 0.8;
}

#solveBtn {
    width: 75px;
}

/* Info */

#info {
    margin: 20px 0px ;
    color: var(--main-color);
    user-select: none;
}

/* sudoku */

#sudoku {
    margin: 0 auto;
    --spacing: 20px;
    --size: calc(var(--spacing) + 9 * var(--cell-size));
    width: var(--size) ;
    height: var(--size);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--block-border-color);
    gap: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--cell-font-size);
    font-weight: bold;
}

.block {
    --spacing: 4px;
    --size: calc(var(--spacing) + 3 * var(--cell-size));
    width: var(--size) ;
    height: var(--size);
    background: var(--cell-border-color);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
}

/* cell */

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background: white;
    text-align: center;
}

.cell:focus {
    background: var(--cell-border-color);
}

.cell.fixed {
    background: var(--fixed-color);
}