:root {
    --main-color: darkred;
    --main-color-light: rgba(0, 128, 128, 0.8);
}

body {
    background-color:rgb(37, 37, 38);
}

#speichern {
    background: linear-gradient(
        var(--main-color),
        var(--main-color-light)
    );
}

#eingabe {
    border: 1px;
}