body {
    background-image: url(./img/background2.png);
    width: auto;
    height: auto;
    position: absolute;
    image-orientation: from-image;
}

#container {
    background-color: transparent;
    width: 100vw;
    height: 90vh;
    position: absolute;
}

#field {
    color: white;
    background-color: transparent;
    border: thin solid 1px white;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 50vh;
    font-size: 3vw;
}

.count {
    margin-right: 10vw;
    width: 15vw;
    color: white;
} 

.reach {
    display: flex;
    margin-right: 1vw;
    margin-left: 1vw;
    text-decoration: solid;
    font-size: 4vw;
    color: aquamarine;
}

th, td { 
    border: thin solid; 
}

.count:hover {
    cursor: pointer;
}

#headline {
    color: royalblue;
}

#rules {
    color: aquamarine;
}

summary {
    position: relative;  
    left: 1vw;
    }
 
 summary::marker {
    color: transparent;
 }
 
 summary::after {
    content:  "+"; 
    position: absolute;
    color: white;
    font-size: 1.5vw;
    font-weight: bold; 
    left: 12.5vw;
    top:  0vw;
    transition: all 0.5s;
 } 
 
 details[open] summary::after {
  color: red;
  transform: translate(5px,0) rotate(45deg);
 }

 #info {
    display: none;
    text-align: center;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 250, 0.7);
    padding: 20px 50px;
    margin-top: 20vh;
    /* margin-bottom: 50vh; */
    width: 95vw;
}