body {
    background-color: #242426;
}

#umrechner {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

#temp:hover {
    cursor: pointer;
    opacity: 0.5;
}

#le:hover {
    cursor: pointer;
    opacity: 0.5;
}

#währ:hover {
    cursor: pointer;
    opacity: 0.5;
}