.background {
    background-color: #252526;
}

body {
    background-color: rgb(37, 37, 38);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}

/* .neuerteil {
    font-size: 125%;
    font-weight: bold;
    color: rgb(0, 180, 15);
} */

.link {
    line-height: 25px;
    color: white;
}

.fett {
    font-size: 20px;
    font-style: oblique;
}

h1 {
    color: red;
    font-size: 200%;
}


a#YouTube {
    text-decoration: none;
}

.kanal {
    color: white;
}

#eng {
    color: firebrick;
    line-height: 30px;
    font-size: 102%;
}

#line {
    line-height: 50px;
}